@import url('color.css');

body {
  max-width: 45em;
  min-width: 20em;
  margin: auto;
  padding: 1em;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 1.4em;
  background-color: var(--bg);
  color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1em;
  font-family: Lato, Helvetica, Arial, sans-serif;
  color: var(--fg1);
}

p {
  margin-bottom: 1.2em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: var(--fg2);
}

pre {
  padding: 1em;
  overflow-x: auto;
  background-color: var(--bg2);
}

code, pre {
  background-color: var(--bg3);
}

body > header h1 {
  font-size: 2.2em;
  color: var(--fg);
}

body > header h2 {
  font-size: 1.1em;
  font-weight: normal;
  color: var(--fg4);
}

body > header a, body > header a:hover {
  color: var(--fg);
  text-decoration: none;
}

menu {
  padding: 0;
  margin: 0;
}

nav {
  text-align: center;
  border-top: 1px solid var(--fg3);
  border-bottom: 1px solid var(--fg3);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  color: var(--fg);
  text-decoration: none;
  padding: 0 2em;
}

nav a:hover {
  color: var(--gray);
  text-decoration: none;
}

section.repost {
  font-style: italic;
  color: var(--fg3);
}

article header p {
  margin: 0.2em;
  margin-left: 2em;
  color: var(--fg4);
}

article header {
  margin-bottom: 2em;
}

article h1 {
  font-size: 2em;
  margin-bottom: 0.2em;
  color: var(--fg);
}

article h2 {
  font-size: 1.5em;
  color: var(--fg1);
}

body > footer {
  text-align: center;
  border-top: 1px solid var(--fg3);
  margin-top: 10px;
  color: var(--fg);
}

.figure .caption {
  font-style: italic;
  color: var(--fg2);
}

figure > img {
  max-width: 100%;
}

ins {
  text-decoration: none;
  color: var(--red);
}

ins::before {
  font-weight: bold;
  content: ">> ";
  color: var(--red);
}