<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        $if(author)$<meta name="author" content="$author$">$endif$
        $if(keywords)$<meta name="keywords" content="$keywords$">$endif$
        $if(description)$<meta name="description" content="$description$">$endif$
        $if(type)$
            <meta property="og:type" content="$type$">
        $else$
            <meta property="og:type" content="website">
        $endif$
        $if(date)$<meta name="date" content="$date$">$endif$

        <title>Gwydd's Blog - $title$</title>
        <link rel="stylesheet" href="/css/syntax.css"/>
        <link rel="stylesheet" href="/css/color.css"/>
        <link rel="stylesheet" href="/css/default.css" />
        <script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>
        <header style="display: flex; align-items: center; justify-content: center; padding: 10px 20px;">
            <a href="/" style="margin-right: 20px;">
                <img src="/images/gwydd-mascott.png" style="max-width: 50px; height: auto;" alt="Mascot">
            </a>
            <nav style="display: flex; gap: 20px;">
                <a href="/articles.html">Articles</a>
                <a href="/notes.html">Notes</a>
                <a href="/about.html">About</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
        
        <footer>
            <div id="footer">
                <a id="to-top" href="#">Back to the top</a>
                &nbsp;|&nbsp;
                <a href="/atom.xml" style="font-variant:small-caps">RSS</a>
                &nbsp;|&nbsp;
                <a href="https://github.com/gwydd12/gwydd12.github.io">Website source</a>
                &nbsp;|&nbsp;
                <a href="/about.html">Contact</a>
            </div>
        </footer>
    </body>
</html>
